.c-designs {
  padding-top: 122px;
  position: relative;
  @include tab {
    padding-top: 50px;
  }

  // .c-designs__slickimgscontainer {
  //     max-height: 683px;
  //     height: 90%;
  //     max-width: 1440px;
  //     width: 90%;
  //     @include tab {
  //         // width: 95%;
  //     }
  // }

  // .c-designs__slickimgblock {
  //     max-height: 683px;
  //     height: 90%;
  //     max-width: 1440px;
  //     width: 90%;
  //     @include tab {
  //         // width: 95%;
  //     }
  // }
  .c-designs__slick,
  .c-designs__slickimgblock {
    // max-width: 1440px;
    max-width: 1700px;

    // width: 96%;
    width: 75%;
    height: 683px;
    // aspect-ratio: 1440/683;
    @include tab {
      height: 442px;

      @include sp {
        width: 96%;
        height: 201px;
      }

      // aspect-ratio: 720/401;
    }
  }

  .c-designs__slick::after {
    content: "";
    display: block;
    background-color: #ededed;
    // height: 527px;
    height: 37.8%;
    width: 62.7%;
    position: absolute;
    right: 0;
    top: 693px;
    z-index: -1;
    @include tab {
      top: 453px;

      @include sp {
        height: 258px;
        width: 51.7%;
        top: 213px;
      }
    }
  }

  .c-designs__slickimg {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .c-designs__slickcontroller {
    margin-top: 37px;
    text-align: right;
    @include tab {
      margin-top: 10px;
      margin-right: 2px;
    }
  }

  .c-designs__slickbtn {
    width: 53px;
    @include tab {
      width: 32px;
    }
  }

  .c-designs__slickrightbtn {
    margin-left: 16px;
    @include tab {
      margin-left: 7px;
    }
  }

  .c-designs__textvideo {
    display: flex;
    // padding-right: 4.4%;
    // margin-left: 1%;
    // margin-top: 90px;
    width: 90%;
    min-width: 1200px;
    margin-left: auto;
    // padding-right: 102px;
    padding-right: 85px;
    // padding-left: 10%;
    padding-left: 8.8%;
    margin-top: 88px;
    @include scr1200px {
      min-width: unset;
      @include tab {
        flex-direction: column;
        margin: 42px auto;
        max-width: 750px;
        @include sp {
          width: 90.1%;
          padding: 0;
          max-width: 375px;
        }
      }
    }
  }

  .c-designs__text {
    margin-top: -0.6%;
    // padding-left: 18.8%;
    width: 630px;
    // width: 52%;
    max-width: 49%;
    @include tab {
      max-width: 100%;
      padding: 2.5% 0 0 3.9%;
    }
  }

  .c-designs__heading {
    font-family: $special-fonts2;
    font-size: 4.8rem;
    color: #000;
    font-weight: 400;
    letter-spacing: 4.4px;
    @include scr1200px {
      font-size: 3.6rem;
      @include tab {
        @include sp {
          font-size: 2.4rem;
          letter-spacing: 2.3px;
        }
      }
    }
  }

  .c-designs__headinglinebreak {
    width: 58px;
    margin-left: 1px;
    margin-top: 26px;
    @include scr1200px {
      width: 44px;
      @include tab {
        @include sp {
          width: 29px;
          margin-left: -1px;
          margin-top: 13px;
        }
      }
    }
  }

  .c-designs__subheading {
    font-size: 2.7rem;
    font-weight: 400;
    margin-top: 24px;
    margin-left: 2px;
    line-height: 1.38;
    @include scr1200px {
      font-size: 2.1rem;
      @include tab {
        @include sp {
          font-size: 1.35rem;
          margin-top: 12px;
          margin-left: 0;
        }
      }
    }
  }

  .c-designs__description {
    margin-top: 35px;
    margin-left: 2px;
    font-weight: 300;
    font-size: 1.9rem;
    line-height: 1.8;
    @include scr1200px {
      font-size: 1.5rem;
      @include tab {
        @include sp {
          font-size: 1rem;
          margin-top: 17px;
          margin-left: 0;
          line-height: 1.75;
        }
      }
    }
  }

  .c-designs__videoblock {
    flex: 1 0 auto;
    // padding: 103px 4.4% 0% 7.1%;
    // padding-top: 103px;
    // margin-left: 8%;
    padding-top: 105px;
    margin-left: 9.8%;
    align-self: center;
    @include tab {
      padding: 50px 9.8% 0;
      width: 100%;
      @include sp {
        margin-left: 0;
        padding: 51px 4.4% 0%;
        text-align: center;
      }
    }
    // width: 56.9%;
  }

  .c-designs__video {
    // right: 84px;
    // bottom: -99px;
    max-width: 702px;
    width: 100%;
    aspect-ratio: 702/390;
    // margin-top: 12.3%;
    // margin-left: 17.1%;
    @include tab {
      @include sp {
        max-width: 301px;
        width: 100%;
        height: 167px;
        right: 37px;
        bottom: -217px;
      }
    }
  }
}
