//------------------------------------------------------------
// position
//------------------------------------------------------------
// .is-wrappercenter--h {
//     margin: auto;
//     left: 0;
//     right: 0;
// }

// // .u-textalign--h {
// //   text-align: center;
// // }

//------------------------------------------------------------
// color
//------------------------------------------------------------
.is-inlineat1300px {
    display: none;
}

.is-palt {
    font-feature-settings: "palt";
}

.is-notdisplay--pc {
    display: none;
    @include tab {
        display: unset;
    }
}

.is-notdisplay--sp {
    @include tab {
        display: none;
    }
}
