<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= (typeof title !="undefined" ? title : "Coco MGM Design" ) %>
  </title>
  <meta name="keywords" content="">
  {{ meta }}
  <script type="module" src="/_scss/style.js"></script>
  {{ head }}
  <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/kozuka-gothic-pr6n">
</head>

<body class="l-container">


  {{ content }}

  <%- include('_partials/footer'); -%>

    {{ script }}
    <script src="./assets/js/main.js"></script>
</body>

</html>