<%- include('_layouts/layout', { title: 'Coco MGM Design' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->

  <!-- @content -->
  <main class="p-top">
    <!-- mainvisual -->
    <!-- *********************************** -->
    <%- include('_partials/mainvisual'); -%>

      <!-- worries -->
      <!-- *********************************** -->
      <%- include('_partials/worries'); -%>

        <!-- benefits -->
        <!-- *********************************** -->
        <%- include('_partials/benefits'); -%>

          <!-- recs -->
          <!-- *********************************** -->
          <!-- <%- include('_partials/recs'); -%> -->

          <!-- voucher -->
          <!-- *********************************** -->
          <!-- <%- include('_partials/voucher'); -%> -->

          <!-- designs -->
          <!-- *********************************** -->
          <!-- <%- include('_partials/designs'); -%> -->
  </main>
  <!-- @@content -->