<section class="c-designs">
    <div class="c-designs__slick">
        <div class="c-designs__slickimgscontainer">
            <% designs.forEach(design=> { %>
                <div class="c-designs__slickimgblock">
                    <picture>
                        <source media="(max-width: 992px)" srcset="<%= design.imgurlsp %>">
                        <img src="<%= design.imgurl %>" alt="DESIGN" class="c-designs__slickimg">
                    </picture>
                </div>
                <% }); %>
        </div>
        <div class="c-designs__slickcontroller">
            <img class="c-designs__slickbtn c-designs__slickleftbtn" src="./assets/img/designs__slickleft.svg"
                alt="DESIGN">
            <img class="c-designs__slickbtn c-designs__slickrightbtn" src="./assets/img/designs__slickright.svg"
                alt="DESIGN">
        </div>
    </div>
    <div class="c-designs__textvideo">
        <div class="c-designs__text">
            <h2 class="c-designs__heading">DESIGN</h2>
            <hr class="c-designs__headinglinebreak">
            <h3 class="c-designs__subheading">シンプルで美しいデザイン、<br>
                いつまでも・誰にでも愛される空間に。
            </h3>
            <p class="c-designs__description">
                長く愛される「居心地の良い場所」はシンプルなルールで作られるもの<span class="is-palt">。</span><br>
                壁の色を白で統一したシンプルな間取り。<br>
                余計な装飾は施さず、こだわりの家具やインテリアを<br class="is-inlinefrom993pxto1200px">
                あなた色に合わせてコーディネートを楽しめる<br class="is-inlinefrom993pxto1200px">
                年齢や性別を意識しない誰にでも愛される空間です。
            </p>

        </div>
        <div class="c-designs__videoblock">
            <iframe class="c-designs__video" src="https://www.youtube.com/embed/GtH-3_jjTvQ?hl=ja&persist_hl=1"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>
</section>