<section class="c-mainvisual">
    <picture>
        <source media="(max-width: 992px)" srcset="./assets/img/mainvisual__background--sp.jpg">
        <img class="c-mainvisual__background" src="./assets/img/mainvisual__background.jpg" alt="「こんな家に住みたい」をカタチにした家">
        <!-- <img class="c-mainvisual__background" src="./assets/img/Asset 1@2x-100.jpg" alt="「こんな家に住みたい」をカタチにした家"> -->

    </picture>
    <div class="c-mainvisual__contentwrapper">
        <a href="./">
            <picture>

                <source media="(max-width: 992px)" srcset="./assets/img/mainvisual__logo--sp.png">
                <img class="c-mainvisual__logo" src="./assets/img/mainvisual__logo.png" alt="Coco MGM Design">
            </picture>
        </a>
        <h1 class="c-mainvisual__heading">「こんな家に住みたい」をカタチにした家</h1>
        <picture>
            <source media="(max-width: 992px)" srcset="./assets/img/mainvisual__status--sp.png">
            <img class="c-mainvisual__status" src="./assets/img/mainvisual__status.png" alt="「こんな家に住みたい」をカタチにした家">
        </picture>
    </div>
</section>