<section class="c-recs">
    <div class="c-recs__wrapper">
        <div class="c-recs__headinglogo">
            <div class="c-recs__headinglogoblock">
                <img class="c-recs__logo" src="./assets/img/recs__logo.png" alt="RECOMMENDED POINT">
            </div>
            <div class="c-recs__headingblock">
                <h2 class="c-recs__heading">RECOMMENDED POINT</h2>
                <h3 class="c-recs__subheading">イベント・見学会の<span class="c-recs__highlight">見どころ！</span>
                </h3>
            </div>
        </div>
        <div class="c-recs__recblockswrapper">
            <% recs.forEach(rec=> { %>
                <div class="c-recs__recblock">
                    <img src="<%= rec.imgurl %>" alt="<%= rec.recheading %>" class="c-recs__recimg">
                    <div class="c-recs__rectextblock">
                        <h4 class="c-recs__recheading">
                            <%= rec.recheading %>
                        </h4>
                        <p class="c-recs__recdescription">
                            <%- rec.recdescription -%>
                        </p>
                    </div>
                </div>
                <% }) %>
        </div>
        <img class="c-recs__logo--sp" src="./assets/img/recs__logo--sp.png" alt="RECOMMENDED POINT">
    </div>
</section>