<div class="c-voucher">
    <div class="l-container--1200px">
        <picture>
            <source media="(max-width: 992px)" srcset="./assets/img/voucher__img--sp.jpg">
            <img src="./assets/img/voucher__img.jpg" alt="絶対オトク！1,000円分のQUOカードプレゼント" class="c-voucher__img">
        </picture>
    </div>
</div>